img {
    max-width: 100%;
}

.animals-content-wrap {
    padding-top: 100%;
    position: relative;
}

.animals-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    border: 1px solid #d1d1d1;
    border-radius: 0.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animals-content p {
    margin: 1.5rem;
}

.animals-content__img {
    position: absolute;
    transition: transform 400ms linear, opacity 400ms ease-out 400ms;
    flex: none;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


}

.img--incoming {
    transform: scale(1.5);
    opacity: 0.2;
}

.img--outgoing {
    opacity: 0.2;
    transition: transform 400ms linear, opacity 400ms ease-out 100ms;
}
